
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Digital Market Place</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#myModal">Nuevo producto</a></li>
            <li><a href="#">lista de productos</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          {%block formsearch%}
          {%endblock%}

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/producto/1/">Detalle Libro</a></li>
            <li><a href="/crear_producto/">Alta de libro</a></li>
            <li><a href="/detalle/1/editar/">Actualizar libro</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard Biblioteca</h1>



          <h2 class="sub-header">Lista de productos</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Precio</th>
                  <th>Tipo</th>
                </tr>
              </thead>
              <tbody>
                {%block content%}
                {%endblock %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Agregar Nuevo Producto</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action="" enctype="miltipart/form-data" id="myForm" data-toggle="validator" role="form">
                                <div class="form-group">
                                    {%block usuario%}

                                    {%endblock%}
                                </div>
                                  <div class="form-group">
                                      <label for="product-name" class="control-label">Nombre del prducto:</label>
                                      <input type="text" class="form-control" id="producto-name" >
                                  </div>
                                  <div class="form-group">
                                      <label for="nombre-obra" class="control-label">Descripción</label>

                                      <input type="text" class="form-control" id="description" aria-describedby="helpBlock1" >
                                      <span id="helpBlock1" class="help-block">Necesitamos la decripción!.</span>

                                  </div>
                                  <div class="form-group">
                                      <label for="precion" class="control-label">Precio del producto</label>
                                      <input type="number" class="form-control" id="precio" aria-describedby="helpBlock2">
                                      <span id="helpBlock2" class="help-block">Necesitamos el precio del producto.</span>
                                  </div>
                                  <div class="form-group">
                                      <label for="status-obra" class="control-label">Tipo</label>
                                      <select class="form-control" id="tipo" aria-describedby="helpBlock3">
                                       <option value="Libro">Libro</option>
                                       <option value="Foto">Foto</option>
                                       <option value="Musica">Musica</option>
                                     </select>
                                     <span id="helpBlock3" class="help-block">Necesitamos tipo del producto!.</span>
                                  </div>

                              </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="producto()">Agregar prodcuto</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="../../assets/js/vendor/holder.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
          $('#myInput').focus()
    })

    function validateText(id){
              var id = "#"+id;

              if($(id).val()==""){
                var div = $(id).closest("div");
                div.addClass("has-error");
                return false;
              }else{
                var div = $(id).closest("div");
                div.removeClass("has-error");
                // div.addClass("has-success");
                return true;
              }

    }


    function producto(){

                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                 //var address_input = document.getElementById("address");
                 //var autocomplete = new google.maps.places.Autocomplete(address_input);


                //validation form myForm fields
                if (!validateText("producto-name")){
                  return false;
                }
                if (!validateText("description")){
                  return false;
                }
                if (!validateText("precio")){
                  return false;
                }
                if (!validateText("tipo")){
                  return false;
                }



                var productName= $($.parseHTML($('#producto-name').val())).text();
                var descripcion = $($.parseHTML($('#descripcion').val())).text();
                var precio = $('#precio').val();
                var tipo = $('#tipo').val();

                
                $.ajax({
                    url: "/new_producto/",
                    data: JSON.stringify({"nombre":productName,
                                          "descripcion":descripcion,
                                          "precio":precio,
                                          "tipo":tipo
                                          }),

                    method: 'POST',
                    dataType: "json",
                    success: function(result) {
                        alert("¡producto nuevo exitoso!");


                        $('#myForm').trigger("reset");

                    }
                });

            }


    </script>
  </body>
</html>
