{%extends 'base2.html'%}

{%block formsearch%}
    <form class="navbar-form navbar-right" methon="GET" action"">
      <input type="text" class="form-control" name=q placeholder="Buscar...">
      <!-- <input type="submit" name="" value="Buscar..."> -->
    </form>
{%endblock%}

{%block content%}


  {%for producto in object_list%}
    <tr>
      <td>{{producto.id}}</td>
      <td>{{producto.nombre}}</td>
      <td>{{producto.descripcion}}</td>
      <td>{{producto.precio}}</td>
      <td>{{producto.tipo}}</td>
    </tr>


    <!-- <li>{{producto.nombre}} - {{producto.descripcion}} - {{producto.precio}}</li> -->
  {%empty%}
    <h1>{{producto.precio}}</h1>
  {%endfor%}

  {%block usuario%}

  {%if request.user.is_authenticated%}
    <label for="user-name" class="control-label">Nombre del usuario</label>
    <input type="text" class="form-control" id="username-name" value="{{request.user.username}}" desable >


  {%endif%}

  {%endblock%}


{%endblock %}
